<template name="layout">
    <a href="http://en.wikipedia.org/wiki/Wisdom_of_the_crowd" target="_blank"><header>.كل ما يزيد عدد الأراء, دقة تقييم الموقع بتزيد. و هوة ده البيسموه "حكمة الجمهور". دوس هنا عشان تفهم اكتر</header></a>
    <a id="linkToHome" href="{{pathFor 'home'}}">
        <div id="logo"></div>
        <h3 id="logoText">دكاترتى.كوم</h3> </a>
    <div id="layoutContainer">
        {{>yield}}
    </div>


    <h1 id="statsHeader">لحد دلوقتى تم اضافة </h1>
    <div id="longDivider"></div>
    <div id="statsContainer">
        <div class="singleStat">{{totalDrs}}<br>دكتور</div>
        <div class="singleStat statsGreen">{{totalPositiveOpinions}}<br>رأى اجابى</div>
        <div class="singleStat statsRed">{{totalNegativeOpinions}}<br>رأى سلبى</div>
        <div class="singleStat">{{totalEngs}}<br>معيد</div>
    </div>
    <footer>كل الأراء تعبر عن صاحبها و فريق عمل الموقع لا يوافق ولا يعارض اى رأى و بيحذف اى كومنت خارج عن الحدود


    </footer>
</template>
