<template name="layout">
    <a id="shareLink" data-url="https://dakatrety.com" href="http://www.facebook.com/share.php?u=https://dakatrety.com" target="_blank">
        <div id="shareButton">
            <img id="facebookIcon" width="14" height="30" title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAeCAYAAAAcni9KAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACrSURBVDiN7ZIxCgIxFERfJIWLeAfZwsbG1trGY1gKXsTTiVhZW61baWU524jEvwkbUsoOpJjPPPIZvpNERFPgCGyBxedVPwlJ9m0k3TUgZ36cAVegjq0RamL8IQeKgascCMAbv0zkzsAJaL8TU8wl0cXelmhXTamxg1ywJw+sA18lcrXJySlxOgN6lq76KAWbYtADr2AwJ950C7wDf8s9gF3pAfQ0giP492AHRSWr8DbSr6wAAAAASUVORK5CYII=" />
            <div id="shareText"><span id="shareTextContent">ادعم الموقع و شير</span><span id="shareTextNumber"></span>
            </div>
        </div>
    </a>

        <header>:) فى طلاب حلوين بعتولنا و عايزين يدعمو الموقع. احسن حاجة ممكن تعملوها دلوقتى انكو تنشرو الفكرة</header>
    <a id="linkToHome" href="{{pathFor 'home'}}">
        <div id="logo"></div>
        <h3 id="logoText">دكاترتى.كوم</h3> </a>
    <div id="layoutContainer">
        {{>yield}}
    </div>

    <h1 id="statsHeader">لحد دلوقتى تم اضافة </h1>
    <div id="longDivider"></div>
    <div id="statsContainer">
        <div class="singleStat">{{totalDrs}}
            <br>دكتور</div>
        <div class="singleStat statsGreen">{{totalPositiveOpinions}}
            <br>رأى اجابى</div>
        <div class="singleStat statsRed">{{totalNegativeOpinions}}
            <br>رأى سلبى</div>
        <div class="singleStat">{{totalEngs}}
            <br>معيد</div>
    </div>
    <footer>كل الأراء تعبر عن صاحبها و فريق عمل الموقع لا يوافق ولا يعارض اى رأى و بيحذف اى كومنت خارج عن الحدود</footer>
</template>
